html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font: 12px "Lucida Grande", Sans-Serif;
	background: url(../images/chat4.png);
	/*background-size: contain;
	background-repeat: no-repeat;*/
	height: 100%;
}

#image {
    max-width: 10%;
    max-height: 10%;
    transform: scale(10);
}

h2 {
	color: #fa9f00;
	font: 30px Helvetica, Sans-Serif;
	margin: 0 0 10px 0;
}

#page-wrap {
	height: 100%;
	margin: 30px 0px 0px 20px;
	z-index: 1;
}

/* #chat-wrap {
	border: 1px solid #eee;
	margin: 0 0px 15px 0;
	height: 200px;
} */


#chat-area {
	border: 1px solid #666;
	padding: 20px;
	background: white;
	height: 130px;
	overflow:auto;
	overflow-x: hidden;
}

#chat-area span {
	color: white;
	background: #678;
	padding: 4px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	margin: 0 5px 0 0;
}

#chat-area p {
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
}

#send-message-area p {
	float: left;
	color: white;
	font-size: 14px;
}

#send-message-area {
	margin:0px;
}

#msg {
	width: 325px;;
	border: 3px solid #999;
	font: 12px "Lucida Grande", Sans-Serif;
	z-index: 9;
}

#GmailIcon
{
	float: right;
	cursor: pointer;
}
#emoticons
{
	display: none;
	border: 1px solid #666;
	position: absolute;
	float: right;
	right: 50px;
	height: 200px;
	margin-top: -200px;
	background-color: #fff;
}
#ChatAtBigScreen
{
	width:500px;
	background: url(../images/bg-sub1.png) repeat;
	font-weight: bold;
	height: 500px;
	overflow: auto;
}

#chat_box{
	position:fixed;
	right:20px;
	bottom:0px;
	width:250px;
}

#divChat {
	/* position:fixed
	height: 375px;
	z-index: 2;
	background-color: #fff;
	margin-top: -375px;
	width: 350px; */
	
	position:fixed;
	right:300px;
	width:350px;
	height: 375px;
	background:white;
	border-radius:5px 5px 0px 0px;
	margin-top: -375px;
}

#chat_head,#chat_Header{
	background:#f39c12;
	color:white;
	padding:15px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
	font-size: 15px;
}

#chat_Header {
	/* height: 25px; */
	background: #73a6ff;
	z-index: 2;
	position:relative;
	/* padding: 5px;
	font-weight: bold;
	cursor:pointer;
	color:red; */
}

#chat_body{
	background:white;
	height:400px;
	padding:5px 0px;
}

#user{
	position:relative;
	padding:10px 30px;
}

#user:hover{
	background:#f8f8f8;
	cursor:pointer;

}
#user:after{
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:14px;
	border-radius:6px;
}


#close{
	right:10px;
	top:15px;
	cursor:pointer;
	color:white;
	z-index: 3;
	position : absolute;
	font-weight:bold;
	font-size: 15px;
}