<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChatTask</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.chat.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/Welcome.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmileyCodes</display-name>
    <servlet-name>SmileyCodes</servlet-name>
    <servlet-class>com.chat.servlet.SmileyCodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmileyCodes</servlet-name>
    <url-pattern>/SmileyCodes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chatprocess</display-name>
    <servlet-name>Chatprocess</servlet-name>
    <servlet-class>com.chat.servlet.ChatProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chatprocess</servlet-name>
    <url-pattern>/JSP/Chatprocess.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loadchat</display-name>
    <servlet-name>Loadchat</servlet-name>
    <servlet-class>com.chat.servlet.LoadChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loadchat</servlet-name>
    <url-pattern>/JSP/Loadchat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Onlinestatusprocess</display-name>
    <servlet-name>Onlinestatusprocess</servlet-name>
    <servlet-class>com.chat.servlet.OnlineStatusProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Onlinestatusprocess</servlet-name>
    <url-pattern>/JSP/Onlinestatusprocess.do</url-pattern>
  </servlet-mapping>
</web-app>